<IfModule mod_rewrite.c>
RewriteEngine On
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9]+)/?$ index.php?p=$1 [L] 
</IfModule>

Redirect /database.json https://www.youtube.com/watch?v=dQw4w9WgXcQ&pp=ygUTbmV2ZXJnb25uYWdpdmV5b3V1cA%3D%3D